{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
    <a href="{{ path('app_note_new') }}">Create new</a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.title }}</td>
                <td>{{ note.description }}</td>
                <td>{{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('note_details', {'id': note.id}) }}">show</a>
                    <a href="{{ path('note_edit', {'id': note.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
